<%= link_to "Log out", logout_path %>
<div class="container_secao" >
	<h1><%= @floricultura.nomefloricultura %></h1>
	<table id="tabela_floriculturistas" align="center">
		<tr>
			<th>ID</th>
			<th>Nome do Contratante</th>
			<th>Nome do Falecido</th>
			<th>Telefone de Contato #1</th>
			<th>Telefone de Contato #2</th>
			<th>Endereço do Velório</th>
			<th>Subprefeitura</th>
			<th>Data do Velório</th>
			<th>Itens comprados</th>
			<th>Total</th>
			<th>Tempo até expirar o chamado</th>
			<th>Aceitar/Recusar</th>
		</tr>

		<% @abertos.each do |chamado| %>
		<tr>
			<td><%= chamado.id %></td>
			<td><%= chamado.nomec %></td>
			<td><%= chamado.nomef %></td>
			<td><%= chamado.telefone1 %></td>
			<td><%= chamado.telefone2 %></td>
			<td><%= chamado.endvel %></td>
			<td><%= chamado.subprefeitura %></td>
			<td><%= chamado.datahorariovel.strftime("%d/%m, %H:%Mh")%></td>
			<td><%= chamado.itens %></td>
			<td>R$<%= chamado.total %></td>
			<td>00:00:00</td>
			<td>
			<%=button_to "Aceitar", :controller => :floriculturas, :action => :aceitar, :chamado => chamado.id, :id => @floricultura.id %>
			<%=button_to "Recusar", :controller => :floriculturas, :action => :recusar, :chamado => chamado.id, :id => @floricultura.id %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
