<div id="container">
	<div id="logo">
		<%= image_tag "logo.png" %>
	</div>
	<%= form_for :chamado, url: chamados_path do |f| %>
	<div id="selecao_flores">
		<h1>1. Selecione seus produtos</h1>
		<div id="lista_produtos">

			<% @produto.each do |produto| %>
			<div class="moldura_produtos" id='box_<%= produto.id %>'>
				<h3><%= produto.nomeproduto %></h3>
				<h3>R$<%= produto.precoproduto %></h3>
				<%= image_tag produto.imgproduto, size: "200x200" %>
				<p>
				<%= produto.descproduto %>
				</p>
				Quantidade:
				<br />
				<input class="check_produtos" id='qtd_<%= produto.id %>' type="text" value="0" />
				<input type="hidden" id='preco_<%= produto.id %>' value='<%= produto.precoproduto %>'>
				<input type="hidden" id='nome_<%= produto.id %>' value='<%= produto.nomeproduto %>'>
			</div>
			<% end %>

		</div>
		<div style="clear:both">
			<h3>Total: <span id="qtd_total"></span><a href="#" onclick="calculaTotal()">
			<button class="accept_button">
				Calcular Total
			</button></a></h3>
		</div>
		<a href="#cadastro">
		<button class="big_button">
			Selecionar
		</button></a>

	</div>

	<div id="separacao_01"></div>

	<div id="cadastro_dados">
		<a id="cadastro"></a>
		<h1>2. Preencha os dados</h1>
		<fieldset class="campo_form">
			<h2>Dados do Contratante</h2>
			<p>campos sinalizados com * são obrigatórios</p>
			<table class="alinhar">
				<tr>
					<td><strong><%= f.label :nomec, 'Nome Completo (Contratante) *'  %></strong></td>
					<td> <%= f.text_field :nomec, :required => true %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :cpf, 'CPF (Contratante) *'  %></strong></td>
					<td> <%= f.text_field :cpf, :required => true, :pattern => "^[0-9]{11}$", :title => "Você deve digitar um CPF válido de 11 digítos" %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :telefone1, 'Telefone 1 *'  %></strong></td>
					<td> <%= f.text_field :telefone1, :required => true, :pattern => "^[0-9]{10,}$", :title => "Você deve digitar um telefone válido com o DDD. Exemplo: 11987654321"  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :telefone2, 'Telefone 2'  %></strong></td>
					<td> <%= f.text_field :telefone2, :pattern => "^[0-9]{10,}", :title => "Você deve digitar um telefone válido com o DDD. Exemplo: 11987654321"  %> </td>
				</tr>
			</table>

			<h2>Dados do Falecido e do Velório</h2>
			<table class="alinhar">
				<tr>
					<td><strong><%= f.label :nomef, 'Nome Completo (Falecido) *'  %></strong></td>
					<td> <%= f.text_field :nomef, :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :endvel, 'Endereço do Velório *'  %></strong></td>
					<td> <%= f.text_field :endvel, :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :bairro, 'Bairro *'  %></strong></td>
					<td> <%= f.select :bairro, options_for_select(@bairro.collect { |bairro|
					[bairro.bairro, bairro.subprefeitura] } ), :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :datahorariovel, 'Data e Horário do Velório *'  %></strong></td>
					<td> <%= f.datetime_select :datahorariovel, :required => true  %> </td>
				</tr>
			</table>
			
			<h2>Dados do Emitente</h2>
			<table class="alinhar">
				<tr>
					<td><strong><%= f.label :nomee, 'Nome Completo (Emitente) *'  %></strong></td>
					<td> <%= f.text_field :nomee, :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :formapag, 'Forma de Pagamento *'  %></strong></td>
					<td> <%= f.select :formapag, ['Crédito', 'Débito', 'Dinheiro', 'Convênio'], :required => true  %> </td>
				</tr>
			</table>
		</fieldset>
		<a href="#confirmacao_floricultura" onclick='confirmaForm()'>
		<button class="big_button">
			Continuar
		</button></a>

	</div>

	<div id="separacao_02"></div>

	<div id="confirmacao_floricultura">
		<h1>3. Confirme os dados abaixo</h1>
		<div id="conferir_dados">
			<a id="confirmacao_floricultura"></a>
			<fieldset class="campo_form">
				<h2>Produtos selecionados</h2>
				<% @produto.each do |produto| %>
				<span id='moldura_<%= produto.id %>'><strong><%= produto.nomeproduto %>:</strong> <span id='confere_<%= produto.id %>'></span><a href="#selecao_flores"> (Editar)</a>
					<br>
				</span>
				<% end %>
				<h3>Total: <span id="confere_qtd_total"></span></h3>
				<h2>Dados do Contratante</h2>
				<table class="alinhar">
					<tr>
						<td><strong><%= f.label :nomec, 'Nome Completo (Contratante):'  %></strong></td>
						<td><span id='c_nomec'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :cpf, 'CPF:'  %></strong></td>
						<td><span id='c_cpf'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :telefone1, 'Telefone 1:'  %></strong></td>
						<td><span id='c_telefone1'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :telefone2, 'Telefone 2:'  %></strong></td>
						<td><span id='c_telefone2'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
				</table>

				<h2>Dados do Falecido e do Velório</h2>
				<table class="alinhar">
					<tr>
						<td><strong>Nome Completo (Falecido):</strong></td>
						<td><span id='c_nomef'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong>Endereço do Velório:</strong></td>
						<td><span id='c_endvel'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :bairro, 'Bairro:'  %></strong></td>
						<td><span id='c_bairro'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :datahorariovel, 'Data e Horário do Velório:'  %></strong></td>
						<td><span id='c_datahorariovel'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
				</table>
				
				<h2>Dados do Emitente</h2>
				<table class="alinhar">
					<tr>
						<td><strong>Nome Completo (Emitente):</strong></td>
						<td><span id='c_nomee'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong>Forma de Pagamento:</strong></td>
						<td><span id='c_formapag'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					
					
				</table>
			</fieldset>
			<input id="chamado_total" name="chamado[total]" type="hidden" />
			<input id="chamado_itens" name="chamado[itens]" type="hidden" />
			<%= f.submit 'Finalizar', :class => 'big_button' %>

		</div>
	</div>
	<% end %>
	<script type="text/javascript">
		function calculaTotal() {
			var total = 0;
			<% @produto.each do |produto| %>
				if(document.getElementById('qtd_'+<%= produto.id %>).value != 0){
					total = total + parseFloat(document.getElementById('preco_'+<%= produto.id %>).value) * parseInt(document.getElementById('qtd_'+<%= produto.id %>).value);
				}
			<% end %>
				document.getElementById('qtd_total').innerHTML = 'R$' + total;
				document.getElementById('confere_qtd_total').innerHTML = 'R$' + total;
				document.getElementById('chamado_total').value = parseFloat(total);
		}
		function montaItens() {
			var str = "";
			<% @produto.each do |produto| %>
				if(document.getElementById('qtd_'+<%= produto.id %>).value != 0){
					str = str + parseInt(document.getElementById('qtd_'+<%= produto.id %>).value) + " x " + document.getElementById('nome_'+<%= produto.id %>).value + "; ";
				}
			<% end %>
				document.getElementById('chamado_itens').value = str;
		}		
		function confirmaForm() {
			<% @produto.each do |produto| %>
				if(document.getElementById('qtd_'+<%= produto.id %>).value != 0){
					document.getElementById('confere_'+<%= produto.id %>).innerHTML = document.getElementById('qtd_'+<%= produto.id %>).value;
				}else{
					document.getElementById('moldura_'+<%= produto.id %>).innerHTML = "";
				}
			<% end %>
			document.getElementById('c_nomec').innerHTML = document.getElementById('chamado_nomec').value;
			document.getElementById('c_cpf').innerHTML = document.getElementById('chamado_cpf').value;
			document.getElementById('c_telefone1').innerHTML = document.getElementById('chamado_telefone1').value;
			document.getElementById('c_telefone2').innerHTML = document.getElementById('chamado_telefone2').value;
			document.getElementById('c_nomef').innerHTML = document.getElementById('chamado_nomef').value;
			document.getElementById('c_endvel').innerHTML = document.getElementById('chamado_endvel').value;
			document.getElementById('c_bairro').innerHTML = document.getElementById('chamado_bairro').value;
			document.getElementById('c_datahorariovel').innerHTML = document.getElementById('chamado_datahorariovel_3i').value + "/" + document.getElementById('chamado_datahorariovel_2i').value + "/" + document.getElementById('chamado_datahorariovel_1i').value + " às " + document.getElementById('chamado_datahorariovel_4i').value + "h" + document.getElementById('chamado_datahorariovel_5i').value;
			document.getElementById('c_nomee').innerHTML = document.getElementById('chamado_nomee').value;
			document.getElementById('c_formapag').innerHTML = document.getElementById('chamado_formapag').value;
			calculaTotal();
			montaItens();
		}		
	</script>
