<div id="container">
	<div id="logo">
		<%= image_tag "logo.png" %>
	</div>
	<%= form_for :chamado, url: chamados_path do |f| %>
	<div class="container_secao" id="selecao_flores">
		<h1>1. Selecione seus produtos</h1>
		<div id="lista_produtos">
			<% @produto.each do |produto| %>
			<div class="moldura_produtos" id='box_<%= produto.id %>'>
				<h3><%= produto.nomeproduto %></h3>
				<h3>R$<%= produto.precoproduto %></h3>
				<%= image_tag produto.imgproduto, size: "200x200" %>
				<p>
				<%= produto.descproduto %>
				</p>
				Quantidade:
				<br />
				<input class="check_produtos" id='qtd_<%= produto.id %>' type="text" value="0" />
				<input type="hidden" id='preco_<%= produto.id %>' value='<%= produto.precoproduto %>'>
				<input type="hidden" id='nome_<%= produto.id %>' value='<%= produto.nomeproduto %>'>
			</div>
			<% end %>
		</div>
		<div style="clear:both">
			<h3>Total: <span id="qtd_total"></span><a href="#" onclick="calculaTotal()">
			<button class="accept_button">
				Calcular Total
			</button></a></h3>
		</div>
		<a href="#cadastro_dados">
		<button class="big_button">
			Selecionar
		</button></a>

	</div>

	<div id="separador1" class="separador"></div>

	<div class="container_secao" id="cadastro_dados">
		<h1>2. Preencha os dados</h1>
		<fieldset>
			<h2>Dados do Contratante</h2>
			<p>campos sinalizados com * são obrigatórios</p>
			<table class="alinhar">
				<tr>
					<td><strong><%= f.label :nomec, 'Nome Completo (Contratante) *'  %></strong></td>
					<td> <%= f.text_field :nomec, :required => true %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :cpf, 'CPF (Contratante) *'  %></strong></td>
					<td> <%= f.text_field :cpf, :required => true, :pattern => "^[0-9]{11}$", :title => "Você deve digitar um CPF válido de 11 digítos" %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :telefone1, 'Telefone 1 *'  %></strong></td>
					<td> <%= f.text_field :telefone1, :required => true, :pattern => "^[0-9]{10,}$", :title => "Você deve digitar um telefone válido com o DDD. Exemplo: 11987654321"  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :telefone2, 'Telefone 2'  %></strong></td>
					<td> <%= f.text_field :telefone2, :pattern => "^[0-9]{10,}", :title => "Você deve digitar um telefone válido com o DDD. Exemplo: 11987654321"  %> </td>
				</tr>
			</table>

			<h2>Dados do Falecido e do Velório</h2>
			<table class="alinhar">
				<tr>
					<td><strong><%= f.label :nomef, 'Nome Completo (Falecido) *'  %></strong></td>
					<td> <%= f.text_field :nomef, :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :endvel, 'Endereço do Velório *'  %></strong></td>
					<td> <%= f.text_field :endvel, :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :bairro, 'Bairro *'  %></strong></td>
					<td> <%= f.select :bairro, options_for_select(@bairro.collect { |bairro|
					[bairro.bairro, bairro.subprefeitura] } ), :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :datahorariovel, 'Data e Horário do Velório *'  %></strong></td>
					<td> <%= f.datetime_select :datahorariovel, :required => true  %> </td>
				</tr>
			</table>
			
			<h2>Dados do Emitente</h2>
			<table class="alinhar">
				<tr>
					<td><strong><%= f.label :nomee, 'Nome Completo (Emitente) *'  %></strong></td>
					<td> <%= f.text_field :nomee, :required => true  %> </td>
				</tr>
				<tr>
					<td><strong><%= f.label :formapag, 'Forma de Pagamento *'  %></strong></td>
					<td> <%= f.select :formapag, ['Crédito', 'Débito', 'Dinheiro', 'Convênio'], :required => true  %> </td>
				</tr>
			</table>
		</fieldset>
		<a href="#confirmacao_floricultura" onclick='confirmaForm()'>
		<button class="big_button">
			Continuar
		</button></a>

	</div>

	<div id="separador2" class="separador"></div>

	<div  class="container_secao" id="confirmacao_floricultura">
		<h1>3. Confirme os dados abaixo</h1>		
			<fieldset>
				<h2>Produtos selecionados</h2>
				<% @produto.each do |produto| %>
				<span id='moldura_<%= produto.id %>'>
					<strong><%= produto.nomeproduto %>:</strong> <span id='confere_<%= produto.id %>'></span><a href="#selecao_flores"> (Editar)</a>
					<br>
				</span>
				<% end %>
				<h3>Total: <span id="confere_qtd_total"></span></h3>
				<h2>Dados do Contratante</h2>
				<table class="alinhar">
					<tr>
						<td><strong><%= f.label :nomec, 'Nome Completo (Contratante):'  %></strong></td>
						<td><span id='c_nomec'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :cpf, 'CPF:'  %></strong></td>
						<td><span id='c_cpf'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :telefone1, 'Telefone 1:'  %></strong></td>
						<td><span id='c_telefone1'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :telefone2, 'Telefone 2:'  %></strong></td>
						<td><span id='c_telefone2'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
				</table>

				<h2>Dados do Falecido e do Velório</h2>
				<table class="alinhar">
					<tr>
						<td><strong>Nome Completo (Falecido):</strong></td>
						<td><span id='c_nomef'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong>Endereço do Velório:</strong></td>
						<td><span id='c_endvel'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :bairro, 'Bairro:'  %></strong></td>
						<td><span id='c_bairro'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong><%= f.label :datahorariovel, 'Data e Horário do Velório:'  %></strong></td>
						<td><span id='c_datahorariovel'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
				</table>
				
				<h2>Dados do Emitente</h2>
				<table class="alinhar">
					<tr>
						<td><strong>Nome Completo (Emitente):</strong></td>
						<td><span id='c_nomee'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>
					<tr>
						<td><strong>Forma de Pagamento:</strong></td>
						<td><span id='c_formapag'></span><a href="#cadastro_dados"> (Editar)</a></td>
					</tr>					
				</table>
			</fieldset>
			<input id="chamado_total" name="chamado[total]" type="hidden" />
			<input id="chamado_itens" name="chamado[itens]" type="hidden" />
			<%= f.submit 'Finalizar', :class => 'big_button' %>		
	</div>
	<% end %>
