<%= link_to "Log out", logout_path %>
<%= form_for :chamado, url: chamados_path do |f| %>
	<%= render "selecao_produtos" %>
	<div id="separador1" class="separador"></div>
	
	<%= render "cadastro_dados", f: f %>
	<div id="separador2" class="separador"></div>
	<%= render "confirmacao_dados", f: f %>
<% end %>